html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


.container {
  display: grid;
  // grid-template-columns: repeat(3 2fr);
  // grid-template-rows: repeat(3 150px);
  grid-template-columns: 25% 8% 25% auto;
  grid-template-rows: 125px 81px 650px 152px;


  &__header {
    background-color: #F1352B;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;


  }

  &__title {
    display: flex;
    justify-content: center;
    align-content: center;

    }

  &__nav {
      background-color: #7ACB00;
      display: grid;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;



    }

    &__list {
      display: flex;
      justify-content: space-around;
    }

      &__item {
        list-style-type:: none;
      }

  &__sidebar {
    background-color: #6E27C5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 2rem;


  }

  &__sidebar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;


  }



  &__main {
    background-color: #FF6600;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 2rem;

  }

    &__main-title {
      display: flex;
      justify-content: center;
      
    }


    &__main-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

    }



  &__footer {
    background-color: #150F96;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  &__footer-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }

}
